<div class="content-wrapper m-0 bg-light" style="min-height: 1854.8px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-10">
                    <h1>พนักงาน</h1>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-block bg-teal float-right"
                        (click)="openLg()">เพิ่มข้อมูล</button>
                    <!-- <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Calendar</li>
                    </ol> -->
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-teal">
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>ชื่อ</th>
                                        <th>นามสกุล</th>
                                        <th>เบอร์โทร</th>
                                        <th style="width: 150px"></th>
                                        <th style="width: 150px"></th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="DataDelivery.itemsPerPage > 0 ">
                                    <tr *ngFor="let item of DataDelivery.data; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{item.firstName}}</td>
                                        <td>{{item.lastName}}</td>
                                        <td>{{item.tel}}</td>
                                        <td><button type="button" class="btn btn-block bg-teal"
                                                (click)="ShowUpdateShop(item.id)">แก้ไขข้อมูล</button>
                                        </td>
                                        <td><button type="button" class="btn btn-block bg-teal"
                                                (click)="deleteUser(item.id)">ลบข้อมูล</button></td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="DataDelivery.itemsPerPage === 0 ">
                                    <tr>
                                        <td colspan="8" style="text-align: center;">ไม่มีข้อมูล</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <!-- .card-footer -->
                        <div class="card-footer clearfix">
                            <span class="pagination pagination-sm m-0 float-right"
                                *ngIf="DataDelivery.itemsPerPage > 0">
                                <ngb-pagination class="d-flex justify-content-end" [maxSize]="5" [rotate]="true"
                                    [boundaryLinks]="true" [collectionSize]="ngPang.total" [(page)]="ngPang.Pang"
                                    (click)="pageTest()">
                                </ngb-pagination>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal fade bd-example-modal-lg" id="contentDelivery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-teal">
                <h4 class="modal-title" id="modal-basic-title">เพิ่มข้อมูลสมาชิก</h4>
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>ชื่อ</label>
                                <span *ngIf="CheckRed === true" style="color: red;">*</span>
                                <input type="text" class="form-control" maxlength="60" placeholder="ชื่อ..." name="name"
                                    [(ngModel)]="ngDelivery.firstName"
                                    [ngClass]="{'is-invalid': isCheck&&!ngDelivery.firstName}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>นาม-สกุล</label>
                                <span *ngIf="CheckRed === true" style="color: red;">*</span>
                                <input type="text" class="form-control" maxlength="60" placeholder="นาม-สกุล..."
                                    name="lastName" [(ngModel)]="ngDelivery.lastName"
                                    [ngClass]="{'is-invalid': isCheck&&!ngDelivery.lastName}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Username</label>
                                <span *ngIf="CheckRed === true" style="color: red;">*</span>
                                <input type="text" class="form-control" maxlength="50" placeholder="Username"
                                    name="username" [(ngModel)]="ngDelivery.userName"
                                    [ngClass]="{'is-invalid': isCheck&&!ngDelivery.userName}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Password</label>
                                <span *ngIf="CheckRed === true" style="color: red;">*</span>
                                <input type="password" class="form-control" maxlength="50" placeholder="Password"
                                    name="password" [(ngModel)]="ngDelivery.password"
                                    [ngClass]="{'is-invalid': isCheck&&!ngDelivery.password}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>เบอร์โทร</label>
                                <span *ngIf="CheckRed === true" style="color: red;">*</span>
                                <input type="tel" class="form-control" maxlength="10" placeholder="เบอร์โทร..."
                                    name="tel" [(ngModel)]="ngDelivery.tel"
                                    [ngClass]="{'is-invalid': isCheck&&!ngDelivery.tel}">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- {{ngDelivery|json}} -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="createDeliver()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="UpdateDeliVery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-teal">
                <h4 class="modal-title" id="modal-basic-title">แก้ไขข้อมูลพนักงาน</h4>
                <button type="button" class="close" aria-label="Close" (click)="hideModalUpdate()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>ชื่อ</label>
                                <input type="text" class="form-control" maxlength="60" placeholder="ชื่อ..." name="name"
                                    [(ngModel)]="ngUpdate.firstName">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>นาม-สกุล</label>
                                <input type="text" class="form-control" maxlength="60" placeholder="นาม-สกุล..."
                                    name="lastName" [(ngModel)]="ngUpdate.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>ชื่อผู้ใช้</label>
                                <input type="tel" class="form-control"  placeholder="เบอร์โทร..."
                                    name="tel" [(ngModel)]="ngUpdate.userName">
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>รหัสผ่าน</label>
                                <input type="tel" class="form-control" maxlength="20"  placeholder="เบอร์โทร..."
                                    name="tel" [(ngModel)]="ngUpdate.password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label>เบอร์โทร</label>
                                <input type="tel" class="form-control" maxlength="10" placeholder="เบอร์โทร..."
                                    name="tel" [(ngModel)]="ngUpdate.tel">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- {{ngDelivery|json}} -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="updateShop()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>